@font-face {
    font-family: Intro;
    src: url('../assets/fonts/Intro-Regular.otf');
}

@font-face {
    font-family: Signika;
    src: url('../assets/fonts/Signika-Regular.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf');
}