* {
    box-sizing: border-box;
    font-family: Signika;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

.container {
    width: 100%;

    /* Header section style */
    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320))) 5%;

        .logo {
            font-size: calc(35px + (45 - 35) * ((100vw - 320px) / (1920 - 320)));

            span {
                color: #f00;
            }
        }

        .right-col {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .nav {
                @include max-width-1023 {
                    display: none;
                }

                ul {
                    list-style: none;

                    .nav-link {
                        display: inline-block;
                        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                        margin-right: calc(8px + (12 - 8) * ((100vw - 320px) / (1920 - 320)));

                        a {
                            text-decoration: none;
                            color: #1A3D6D;
                            font-family: Montserrat;
                            font-weight: bold;
                        }
                    }
                }
            }

            .search-form {
                display: flex;
                align-items: center;
                justify-content: center;

                @include max-width-1023 {
                    display: none;
                }

                .search-field,
                .search-btn {
                    padding: calc(4px + (6 - 4) * ((100vw - 320px) / (1920 - 320))) calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320)));
                    border: 1px solid #1A3D6D;
                    outline: none;
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                    font-family: Montserrat;
                }

                .search-btn {
                    color: #fff;
                    background: #1A3D6D;
                    cursor: pointer;

                    svg {
                        width: 15px;
                        height: 15px;
                        fill: #fff;
                        transform: translateY(3px) rotate(-20deg);
                    }
                }

                ::placeholder {
                    font-family: Montserrat;
                }
            }

            .lang-switcher {
                margin-left: 12px;

                @include max-width-1023 {
                    margin-right: 55px;
                }

                select {
                    appearance: none;
                    border: 1px solid #00008b;
                    padding: calc(6px + (8 - 6) * ((100vw - 320px) / (1920 - 320))) calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320)));
                    cursor: pointer;
                    outline: none;
                }
            }
        }
    }

    /* Hero section style */
    .hero {
        width: 100%;
        display: grid;

        .hero-img {
            width: 70%;
            height: 90vh;
            margin: auto;

            @include max-width-1023 {
                width: 100%;
                height: 45vh;
            }

            @include phone-601 {
                width: 100%;
                height: 65vh;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .hero-text {
            max-width: 1330px;
            margin: auto;
            padding: calc(50px + (80 - 50) * ((100vw - 320px) / (1920 - 320)));

            .hero-header {
                font-size: calc(25px + (65 - 25) * ((100vw - 320px) / (1920 - 320)));
                font-family: Signika;
                text-align: center;
                line-height: 40px;

                .subtitle {
                    font-size: calc(15px + (22 - 15) * ((100vw - 320px) / (1920 - 320)));
                    color: gray;
                    display: inline-block;
                    font-weight: 100;
                    margin-bottom: 10px;
                    font-family: Intro;
                }
            }

            .text {
                text-align: center;
                padding-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
                font-family: Montserrat;
                font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                line-height: calc(25px + (30 - 25) * ((100vw - 320px) / (1920 - 320)));
            }

            .upper-text {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #f7f5f5;
                flex-wrap: wrap;
                padding: calc(25px + (55 - 25) * ((100vw - 320px) / (1920 - 320)));

                h2 {
                    flex-basis: 40%;
                    text-align: right;
                    font-size: calc(25px + (100 - 25) * ((100vw - 320px) / (1920 - 320)));
                    color: #aa182c;
                    font-family: Intro;

                    @include max-width-1023 {
                        flex-basis: 100%;
                        text-align: center;
                    }
                }

                .medium-text {
                    flex-basis: 60%;
                    text-align: center;
                    font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1920 - 320)));
                    text-transform: uppercase;
                    color: #aa182c;
                    padding-left: 10px;
                    font-family: Intro;

                    @include max-width-1023{
                        flex-basis: 100%;
                        padding: 20px 0px;
                    }
                }

                .small-text {
                    flex-basis: 100%;
                    color: #595857;
                    text-align: center;
                    padding-top: 10px;
                    position: relative;
                    font-family: Montserrat;

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        background: #f7f5f5;
                        left: 50%;
                        transform: translateX(-50%) translateY(80px) rotate(45deg);
                        width: calc(120px + (200 - 120) * ((100vw - 320px) / (1920 - 320)));
                        height: calc(120px + (200 - 120) * ((100vw - 320px) / (1920 - 320)));
                        z-index: -1;
                    }
                }
            }
        }
    }

    /* Burger section style */
    .burger {
        max-width: 1330px;
        margin: auto;
        padding: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320))) 3%;

        .header {
            display: grid;
            align-items: center;
            justify-content: center;
            gap: 15px;
            grid-template-columns: 1fr auto 1fr;
            padding-top: 0px;

            .line {
                height: 2px;
                background: #595857;
            }

            .secondary-header {
                font-size: calc(25px + (45 - 25) * ((100vw - 320px) / (1920 - 320)));
            }
        }

        .wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
            align-items: baseline;

            @include max-width-1023 {
                grid-template-columns: repeat(2, 1fr);
            }

            @include phone-767 {
                grid-template-columns: 1fr;
            }

            .wrap {
                text-align: center;

                .burger-img {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .text-block {
                    h3 {
                        color: #aa182c;
                        text-transform: uppercase;
                        font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1920 - 320)));
                        margin-top: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
                        padding-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
                        font-family: Intro;
                    }
                }
            }
        }
    }

    /* Traffic driver section style */
    .traffic-driver {
        max-width: 1330px;
        margin: auto;
        background: #f7f5f5;
        padding: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320))) 3%;

        .header-block {
            width: 100%;

            .header {
                display: grid;
                align-items: center;
                justify-content: center;
                gap: 15px;
                grid-template-columns: 1fr auto 1fr;
                padding-top: 0pxs;

                .line {
                    height: 2px;
                    background: #595857;
                }

                .secondary-header {
                    font-size: calc(25px + (45 - 25) * ((100vw - 320px) / (1920 - 320)));
                }
            }

            .subtitle {
                font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
                text-align: center;
                font-family: Intro;
            }
        }

        .burger-section {
            padding: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320))) 0px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320)));

            @include max-width-1023 {
                grid-template-columns: repeat(3, 1fr);
            }

            @include phone-767 {
                grid-template-columns: 1fr;
            }

            .burger-block {
                text-align: center;

                .number {
                    font-size: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
                    font-weight: bold;
                    line-height: calc(20px + (45 - 20) * ((100vw - 320px) / (1920 - 320)));
                    font-family: Intro;

                    &.color-1,
                    &.color-5 {
                        color: #D4AF5F;
                    }

                    &.color-2 {
                        color: #AD172B;
                    }

                    &.color-3 {
                        color: #86462D;
                    }

                    &.color-4 {
                        color: #499228;
                    }
                }

                .text {
                    padding-top: 10px;
                }
            }
        }

        .wrapper {
            display: grid;
            grid-template-columns: 40% 60%;

            @include max-width-1023 {
                grid-template-columns: 1fr;
            }

            .right-col {
                padding: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320)));
                padding-bottom: 0px;
                text-align: center;
                position: relative;
                font-family: Montserrat;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%) translateY(70px) rotate(45deg);
                    background: #f7f5f5;
                    width: calc(80px + (120 - 80) * ((100vw - 320px) / (1920 - 320)));
                    height: calc(80px + (120 - 80) * ((100vw - 320px) / (1920 - 320)));
                    z-index: -1;
                }
            }
        }
    }

    /* Heinz section style */
    .heinz-section {
        max-width: 1330px;
        margin: auto;
        padding: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320))) 3%;
        gap: 10px;
        margin-top: -12%;

        @include max-width-1023 {
            margin-top: auto;
        }

        .top-section {
            display: grid;
            grid-template-columns: auto 70%;
            align-items: flex-end;

            @include max-width-1023 {
                grid-template-columns: 1fr;
            }

            @include phone-767 {
                grid-template-columns: 1fr;
            }

            .right-col {
                text-align: right;

                h3 {
                    font-size: calc(30px + (45 - 30) * ((100vw - 320px) / (1920 - 320)));
                    padding-bottom: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
                }

                .text {
                    font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
                    font-family: Intro;
                }
            }
        }

        .bottom-section {
            padding-top: calc(15px + (35 - 15) * ((100vw - 320px) / (1920 - 320)));
            display: grid;
            grid-template-columns: auto 4px 45%;
            gap: 10px;

            @include phone-601 {
                grid-template-columns: 1fr;
            }

            .text {
                font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
                font-family: Montserrat;

                &.semi-bold {
                    font-weight: 600;
                    text-align: right;
                    font-size: calc(15px + (23 - 15) * ((100vw - 320px) / (1920 - 320)));
                    font-family: Intro;
                }
            }

            .v-line {
                background: #d5b05f;

                @include phone-601 {
                    height: 2px;
                }
            }
        }
    }

    /* Ketchup section style */
    .ketchup-section {
        max-width: 1330px;
        margin: auto;
        padding: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320))) 3%;

        .header {
            display: grid;
            align-items: center;
            justify-content: center;
            gap: 15px;
            grid-template-columns: 1fr auto;
            padding-top: 0pxs;

            .line {
                height: 2px;
                background: #595857;
            }

            .secondary-header {
                font-size: calc(25px + (45 - 25) * ((100vw - 320px) / (1920 - 320)));

                .green {
                    color: #4a9228;
                }
            }
        }

        .wrapper {
            display: grid;
            gap: 5px;

            @include phone-601 {
                gap: 15px;
            }

            .wrap-block {
                display: grid;
                grid-template-columns: 30% auto;
                gap: 10px;
                align-items: center;

                @include phone-601 {
                    grid-template-columns: 1fr;
                }

                .left-col {
                    background: #aa182c;
                    padding: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320))) calc(10px + (18 - 10) * ((100vw - 320px) / (1920 - 320)));
                    color: #fff;
                    text-align: center;
                    font-family: Intro;
                    letter-spacing: 1px;
                }

                .right-col {
                    height: 100%;
                    border-bottom: 1px solid #595857;
                    padding: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320))) 0px;

                    span {
                        font-family: Montserrat;
                        font-size: 14px;
                    }

                    &.grid {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                    }

                    .plus {
                        padding: 0px calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
                    }
                }
            }
        }
    }

    /* Poster section */
    .poster-section {
        max-width: 1330px;
        margin: auto;
        padding: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320))) 3%;
        background: #aa182c;
        text-align: center;
        color: #fff;
        display: grid;
        gap: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));

        .secondary-title {
            font-size: calc(30px + (45 - 30) * ((100vw - 320px) / (1920 - 320)));
            text-transform: uppercase;
        }

        .big-text {
            font-size: calc(45px + (105 - 45) * ((100vw - 320px) / (1920 - 320)));
            text-transform: uppercase;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(30px);
            gap: 10px;

            span {
                &:first-child {
                    transform: rotate(-20deg);
                }

                &:nth-child(2) {
                    transform: rotate(-10deg) translateY(-20px);
                }

                &:nth-child(3) {
                    transform: translateY(-25px);
                }

                &:nth-child(4) {
                    transform: rotate(10deg) translateY(-20px);
                }

                &:nth-child(5) {
                    transform: rotate(20deg);
                }
            }
        }

        .bold-text {
            font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320)));
            font-weight: bold;
            letter-spacing: 5px;
            margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
        }

        .text {
            font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
            padding: 0px 20%;
            font-family: Intro;
        }

        .cta-btn {
            padding: 10px 20px;
            background: #c9252d;
            max-width: 400px;
            margin: auto;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            margin-top: 20px;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;
            font-family: Intro;
        }
    }

    /* Footer section */
    .footer {
        width: 100%;
        padding: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320))) 5%;
        margin: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320))) 0px;
        border-top: 2px solid #595857;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        @include max-width-1023 {
            grid-template-columns: repeat(2, 1fr);
        }

        @include phone-767 {
            grid-template-columns: 1fr;
            gap: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
        }

        .footer-block {
            .logo {
                font-size: calc(35px + (45 - 35) * ((100vw - 320px) / (1920 - 320)));

                span {
                    color: #f00;
                }
            }

            .bold-text {
                font-weight: bold;
                font-family: Montserrat;
            }

            .nav-link-block {
                display: grid;
                gap: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
                margin-top: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));

                a {
                    text-decoration: none;
                    color: #22458D;
                    font-family: Montserrat;
                    font-size: 14px;
                }
            }

            .block {
                margin-top: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));

                p {
                    font-family: Montserrat;
                    font-size: 14px;
                }

                .btn {
                    top: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
                    padding: 10px 20px;
                    text-decoration: none;
                    color: #fff;
                    background: #63BCE5;
                    position: relative;
                    font-family: Montserrat;
                    font-size: 14px;
                }
            }
        }
    }

    /* Copyright section */
    .copyright-section {
        width: 100%;
        text-align: center;

        .top {
            height: 80px;
            background: #DD2927;
            line-height: 80px;
            color: #fff;
            border-top-left-radius: 50px;

            p {
                font-family: Intro;
            }
        }

        .bottom {
            padding: 10px 0px;

            h3 {
                font-size: 30px;
                font-family: Intro;
                color: #8CBD7A;
            }

            a {
                text-decoration: none;
                color: #000;
                font-family: Intro;
                text-transform: uppercase;
                font-size: 12px;
            }
        }
    }
}

/* Nav menu script */

@include max-width-1023 {
    #toggle {
        display: flex !important;
        z-index: 99;
        position: fixed !important;
    }
}

.nav-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #aa182c;
    z-index: 99;
    overflow: hidden;
    transition: 1s;
    transition-delay: 1s;
    width: 0px;

    ul {
        list-style: none;
        li {
            transform: translateX(200px);
            opacity: 0;
            transition: .5s;
            transition-delay: calc(0.15s * var(--i));

            &:not(:last-child) {
                margin-bottom: calc(15px + (50 - 15) * ((100vw - 320px) / (1920 - 320)));
            }

            a {
                text-decoration: none;
                color: #fff;
                font-size: 3em;

                &:hover{
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
    
    &.active{
        width: 100%;
        transition-delay: 0s;

        ul{
            li{
                transform: translateX(0px);
                opacity: 1;
            }
        }
    }
}